<!DOCTYPE html>
<html layout:decorate="~{layoutNails}">
<head>
<meta charset="UTF-8">
<title>Cadastro de Cliente</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<div class="alert alert-success" role="alert">
		  Cadastro de Cliente
		</div>
		
		<form>
		  <div class="form-group">
		    <label for="nome">Nome do Cliente</label>
		    <input type="text" class="form-control" id="nome">
		  </div>
		  
		  <button type="submit" class="btn btn-primary">Cadastrar</button>
		</form>
	</section>
</body>
</html>