<!DOCTYPE html>
<html layout:decorate="~{layoutNails}">
<head>
<meta charset="UTF-8">
<title>Cadastro de Cliente</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
	
	
		<div class="alert alert-primary" role="alert">
		  Cadastro de Cliente
		</div>
		
		<div th:replace="fragments/alert"></div>
		
		<form th:action="${cliente.id == null} ? @{/clientes/salvar} : @{/clientes/editar}"
			  method="post" th:object="${cliente}">
		
		  <div th:replace="fragments/validacao"></div>
		
		  <div class="form-group">
		    <label for="nome">Nome do Cliente</label>
		    <input type="text" class="form-control" id="nome" th:field="*{nome}">
		  </div>
		  
		  <input type="hidden" id="id" th:field="*{id}"/>
		  
		  <button type="submit" class="btn btn-primary">Salvar</button>
		</form>
	</section>
</body>
</html>