<!DOCTYPE html>
<html layout:decorate="~{layoutNails}">
<head>
<meta charset="UTF-8">
<title>Lista de Clientes</title>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<div class="alert alert-primary" role="alert">
		  Lista de Cliente
		</div>
		
		<a class="btn btn-primary btn-md nl-right" th:href="@{/clientes/cadastrar}" role="button">
          <span class="oi oi-spreadsheet" title="Cadastrar" aria-hidden="true"></span>
          <span>Cadastrar Cliente</span>
	    </a>
	    
      	  <p>
             <i class="oi oi-magnifying-glass"></i><span></span>
             <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#buscarPorNome"
                     aria-controls="buscarPorNome">Nome
             </button>
	      </p>
	      
	      <div class="row">
             <div class="col">
                 <div class="collapse" id="buscarPorNome">

                     <nav class="navbar navbar-light bg-light">
                         <form class="form-inline" method="GET" th:action="@{/clientes/buscar/nome}">
                             <input class="form-control mr-sm-2" type="search" placeholder="nome" aria-label="Search"
                                    th:name="nome" />
                             <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
                         </form>
                     </nav>

                 </div>
             </div>
         </div>
		
		<div th:replace="fragments/alert"></div>
		
		<div class="table-responsive">
			<table class="table" style="margin-top:1em;">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Nome do Cliente</th>
			      <th scope="col" class="text-center">Ação</th>
			    </tr>
			  </thead>
			  
			  <tbody>
			    <tr th:each="cliente : ${pageCliente.registros}">
			      <td scope="row" th:text="${cliente.id}">1</td>
			      <td th:text="${cliente.nome}">Mark</td>
			      <td class="text-center">
			      	 <a class="btn btn-info btn-sm" th:href="@{/clientes/editar/{id} (id= ${cliente.id})}" role="button">
	                     <span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
	                 </a>
	                 
	                 <button th:id="${#strings.concat('btn_clientes/excluir/', cliente.id) }" 
	                      	type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModalExcluir">
	                          <span class="oi oi-circle-x" title="Excluir" aria-hidden="true"></span>
	                 </button>
	                 
			      </td>
			    </tr>
			  </tbody>
			  
			</table>
			
			<nav aria-label="Page navigation example">
			  <ul class="pagination justify-content-center">
			    <li th:class="${pageCliente.pagina == 1} ? 'page-item disabled' : 'page-item'">
			      <a class="page-link" th:href="@{/clientes/listar(page=${pageCliente.pagina - 1})}" tabindex="-1">Anterior</a>
			    </li>
			    <li class="page-item">
			    	<span class="page-link" th:text="|${pageCliente.pagina} de ${pageCliente.totalDePaginas}|"></span>
			    </li>
			    <li th:class="${pageCliente.pagina == pageCliente.totalDePaginas} ? 'page-item disabled' : 'page-item'">
			      <a class="page-link" th:href="@{/clientes/listar(page=${pageCliente.pagina + 1})}">Próxima</a>
			    </li>
			  </ul>
			</nav>
			
		</div>
		
		<div th:replace="fragments/modal :: modal"></div>
		
	</section>
</body>
</html>