<!DOCTYPE html>
<html layout:decorate="~{layoutNails}">
<head>
<meta charset="UTF-8">
<title>Lista de Clientes</title>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<div class="alert alert-success" role="alert">
		  Lista de Cliente
		</div>
		
		<table class="table">
		  <thead class="thead-dark">
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Nome do Cliente</th>
		      <th scope="col" class="text-center">Ação</th>
		    </tr>
		  </thead>
		  
		  <tbody>
		    <tr th:each="cliente : ${clientes}">
		      <td scope="row" th:text="${cliente.id}">1</td>
		      <td th:text="${cliente.nome}">Mark</td>
		      <td class="text-center">
		      	 <a class="btn btn-info btn-sm" th:href="@{/clientes/editar/{id} (id= ${cliente.id})}" role="button">
                     <span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
                 </a>
                 
                 <a class="btn btn-info btn-sm" role="button">
                     <span class="oi oi-circle-x" title="Excluir" aria-hidden="true"></span>
                 </a>
		      </td>
		    </tr>
		  </tbody>
		  
		</table>
		
	</section>
</body>
</html>