<!DOCTYPE html>
<html layout:decorate="~{layoutNails}">
<head>
<meta charset="UTF-8">
<title>Cadastro de Atendimento</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">
	
		<div class="alert alert-primary" role="alert">
			  Cadastro de Atendimento
		</div>
		
		<div th:replace="fragments/alert"></div>
		
			  <form action="/atendimentos/salvar" method="post" th:object="${atendimento}">
		
			  <div class="form-group">
			    <label for="cliente">Cliente</label>
			      <select id="cliente" class="form-control" th:field="*{cliente}"
			      		  th:classappend="${#fields.hasErrors('cliente')} ? 'is-invalid'" autofocus="autofocus">
	               <option value="">Selecione...</option>
	               <option th:each="cliente : ${clientes}" 
	               		   th:value="${cliente.id}" th:text="${cliente.nome}"></option>
		          </select>
		          <div class="invalid-feedback">
					<span th:errors="*{cliente}"></span>
	              </div>
			  </div>
			  
			  <div class="form-group">
			    <label for="prestacao">Prestação</label>
			    <select id="prestacao" class="form-control" th:field="*{prestacao}"
			    		th:classappend="${#fields.hasErrors('prestacao')} ? 'is-invalid'">
	               <option value="">Selecione...</option>
	               <option th:each="prestacao : ${prestacoes}" th:value="${prestacao}" th:text="${prestacao.descricao}"></option>
		        </select>
		         <div class="invalid-feedback">
					<span th:errors="*{prestacao}"></span>
	              </div>
			  </div>
			  
			  <div class="form-group">
			    <label for="data">Data</label>
			    <input type="date" class="form-control" id="data" th:field="*{data}"
			   		   th:classappend="${#fields.hasErrors('data')} ? 'is-invalid'">
			    <div class="invalid-feedback">
					<span th:errors="*{data}"></span>
	            </div>
			  </div>
			  
			  <div class="form-group">
			    <label for="valor">Valor</label>
			    <input type="text" class="form-control" id="valor" data-mask="#.##0,00" 
			  		   data-mask-reverse="true" th:field="*{valor}"
			           th:classappend="${#fields.hasErrors('valor')} ? 'is-invalid'">
			    <div class="invalid-feedback">
					<span th:errors="*{valor}"></span>
           		</div>
			  </div>
			  
			  <input type="hidden" id="id" th:field="*{id}"/>
			  
			  <button type="submit" class="btn btn-primary">Cadastrar</button>
			</form>
	</section>
</body>
</html>