<!DOCTYPE html>
<html layout:decorate="~{layoutNails}">
<head>
<meta charset="UTF-8">
<title>Lista de Atendimentos</title>
</head>
<body>
	
	<section class="layout-content" layout:fragment="corpo">
	
		<div class="alert alert-primary" role="alert">
		  Lista de Atendimento
		</div>
		
		<a class="btn btn-primary btn-md nl-right" th:href="@{/atendimentos/cadastrar}" role="button">
          <span class="oi oi-spreadsheet" title="Cadastrar" aria-hidden="true"></span>
          <span>Cadastrar Atendimento</span>
	    </a>
	    
	    <p>
	    	<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#buscarPorCliente"
                    aria-controls="buscarPorCliente">Cliente
            </button>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#buscarPorData"
                    aria-controls="buscarPorData">Datas
            </button>
	    </p>
	    
	     <div class="row">
             <div class="col">
                 <div class="collapse" id="buscarPorCliente">

                     <nav class="navbar navbar-light bg-light">
                         <form class="form-inline" method="GET" th:action="@{/atendimentos/buscar/cliente}">
                             <select class="form-control mr-sm-2" th:name="id" aria-label="Search">
                                 <option th:each="cliente: ${clientes}" th:value="${cliente.id}" th:text="${cliente.nome}">Cliente</option>
                             </select>
                             <button class="btn btn-outline-success my-2 my-sm-0">Buscar</button>
                         </form>
                     </nav>

                 </div>
             </div>
         </div>
         
         <div class="row">
           <div class="col">
               <div class="collapse" id="buscarPorData">

                   <nav class="navbar navbar-light bg-light">
                       <form class="form-inline" method="GET" th:action="@{/atendimentos/buscar/data}">
                           <input class="form-control mr-sm-2" type="date" aria-label="Search"
                                  th:name="data" />
                           <button class="btn btn-outline-success my-2 my-sm-0">Buscar</button>
                       </form>
                   </nav>

               </div>
           </div>
        </div>
		
		<div th:replace="fragments/alert"></div>
		
		<div class="table-responsive">
			<table class="table" style="margin-top:1em;">
			
			  <thead class="thead-dark">
			    <tr>
			      <th >#</th>
			      <th >Nome do Cliente</th>
			      <th >Prestação</th>
			      <th >Data</th>
			      <th >Valor</th>
			      <th class="text-center">Ação</th>
			    </tr>
			  </thead>
			  
			  <tbody>
			    <tr th:each="atendimento : ${atendimentos}">
			      <td th:text="${atendimento.id}">1</th>
			      <td th:text="${atendimento.cliente.nome}">Mark</td>
			      <td th:text="${atendimento.prestacao.descricao}">Mark</td>
			      <td th:text="${#temporals.format(atendimento.data, 'dd/MM/yyyy')}">Mark</td>
			      <td th:text="|R$ ${atendimento.valor} |">Mark</td>
			      <td class="text-center">
			      	 <a class="btn btn-info btn-sm" th:href="@{/atendimentos/editar/{id} (id= ${atendimento.id})}" role="button">
	                     <span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
	                 </a>
	                 
	                 <button th:id="${#strings.concat('btn_atendimentos/excluir/', atendimento.id) }" 
                      	type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModalExcluir">
                          <span class="oi oi-circle-x" title="Excluir" aria-hidden="true"></span>
                 	 </button>
	                 
			      </td>
			    </tr>
			  </tbody>
			  
			</table>
			
			<nav aria-label="Page navigation example">
			  <ul class="pagination justify-content-center">
			    <li class="page-item disabled">
			      <a class="page-link" href="#" tabindex="-1">Anterior</a>
			    </li>
			    <li class="page-item"><a class="page-link" href="#">1</a></li>
			    <li class="page-item"><a class="page-link" href="#">2</a></li>
			    <li class="page-item"><a class="page-link" href="#">3</a></li>
			    <li class="page-item">
			      <a class="page-link" href="#">Próxima</a>
			    </li>
			  </ul>
			</nav>
			
		</div>
		
		<div th:replace="fragments/modal :: modal"></div>
	
	</section>
</body>
</html>